---
snakefile: snakefile
RAW_DATA_DIR: "/shared/projects/cutnrunta/so_/data_cp/data/sequenced_2025_11_13"
REF_DIR: "/shared/projects/cutnrunta/so_/Ref_genome"
SO_DIR: "/shared/projects/cutnrunta/so_"
RESULTS_DIR: "/shared/projects/cutnrunta/so_/results"
FASTP_TRIMMED_DIR: "/shared/projects/cutnrunta/so_/results/trim/fastp"
FASTP_QC_REPORTS_DIR: "/shared/projects/cutnrunta/so_/results/qc/fastp"
FASTQC_QC_FASTP_DIR: "/shared/projects/cutnrunta/so_/results/fastqc/trim/fastp"

BT9_TA_REF_FA: "/shared/projects/cutnrunta/so_/Ref_genome/BT9_TA_prefixed.fna"

fastp_trim:
  extra: "-q 15 -l 20 --trim_poly_g --correction"
  a: AGATCGGAAGAGCACACGTCTGAACTCCAGTCA
  r2_adapter: AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT
multiqc:
  extra: "--fullnames --ai-summary-full"

resources:
  fastp_trim:
    cpu: 8
    mem_mb: 32 
    time: "01:00:00" 

  bt2_build_index:
    cpu: 16
    mem_mb: 32 
    time: "02:00:00"  

  multiqc:
    cpu: 4
    mem_mb: 8
    time: "00:30:00"   
