---
snakefile: snakefile
RAW_DATA_DIR: "/shared/projects/cutnrunta/so_/data_cp/data/Séquençage-2025_11_13"
REF_DIR: "/shared/projects/cutnrunta/so_/Ref_genome"
SO_DIR: "/shared/projects/cutnrunta/so_"
RESULTS_DIR: "/shared/projects/cutnrunta/so_/results"
FASTP_TRIMMED_DIR: "/shared/projects/cutnrunta/so_/results/trim/fastp"
FASTP_QC_REPORTS_DIR: "/shared/projects/cutnrunta/so_/results/qc/fastp"
FASQC_QC_FASTP_DIR: "/shared/projects/cutnrunta/so_/results/fastqc/trim/fastp"


fastp_trim:
  extra: "--length_required 30 --qualified_quality_phred 20 --unqualified_percent_limit 20 --trim_poly_g --poly_g_min_len 10 --correction --detect_adapter_for_pe --cut_tail --cut_tail_window_size 4 --cut_tail_mean_quality 20"
resources:
  multiqc:
    cpu: 4
    time: 60
  fastp_trim:
    cpu: 8
    time: 60
